<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1618193319734-478296be37ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=737&q=80);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container my-3">
  <div class="d-flex justify-content-end">
    <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-purple" %>
  </div>
  <div class="row">
    <% @bookmarks.each do |bookmark| %>
      <div class="col-sm col-md-6">
        <div class="card-trip">
          <%= image_tag(bookmark.movie.poster_url) %>
          <div class="card-trip-infos">
            <div class="w-100">
              <div class="d-flex">
                <h2><%= bookmark.movie.title %></h2>
                <i class="fas fa-star mx-1"></i>
                <p><%= bookmark.movie.rating %></p>
              </div>
              <p class="mt-1 mb-3"><%= bookmark.movie.overview %></p>
              <div class="d-flex justify-content-between">
                <h2 class="card-trip-pricing"><%= bookmark.comment %></h2>
                <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                  <i class="fa-solid fa-xmark"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
